@import 'tailwindcss';

@theme {
  /* font family */
  --font-jetbrains: 'JetBrains Mono', monospace;

  /* colors */
  --color-white: #FFFFFF;
  --color-grey-200: #E6E5EA;
  --color-grey-600: #817D92;
  --color-grey-700: #54535B;
  --color-grey-800: #24232C;
  --color-grey-850: #18171F;
  --color-grey-900: #14131B;
  --color-grey-950: #08070B;
  --color-black: #000000;
  --color-black-100: #14131B;
  --color-black-200: #08070B;
  --color-green: #A4FFAF;
  --color-yellow: #F8CD65;
  --color-orange: #FB7C58;
  --color-red: #F64A4A;

  /* font sizes */
  --text-32: 2rem; /* with line-height use --text-32/42 */
  --text-24: 1.5rem; /* with line-height use --text-24/32 */
  --text-18: 1.125rem; /* with line-height use --text-18/24 */
  --text-16: 1rem; /* with line-height use --text-16/20 */

  /* spacings */
  --8: 0.5rem;
  --16: 1rem;
  --24: 1.5rem;
  --32: 2rem;
  --56: 3.5rem;
  --80: 5rem;
  --104: 6.5rem;
  --128: 8rem;
  --160: 10rem;
  --176: 11rem;
  --184: 11.5rem;
}

input[type="checkbox"] {
  @apply
  appearance-none 
  h-5 
  w-5 
  mr-3
  border-2 
  border-solid 
  border-grey-200 
  bg-transparent 
  cursor-pointer;

  &:hover {
    @apply
    border-green;
  }
}

input[type="checkbox"]:checked {
  @apply
  bg-green 
  border-green
  font-black
  relative;

  &::after {
    @apply
    content-['\2714'] 
    absolute 
    top-[-60%] 
    min-w-full
    text-black-200
    text-center
    text-[24px];
  }
}

.indicator p{
  @apply
  text-white 
  uppercase 
  text-[clamp(18px,4vw,24px)]
  tracking-wider
  font-bold;
}

button:hover svg path {
  @apply
  fill-green;
}

.copy:hover path {
  @apply
  fill-white;
}


 /* Custom styles for react-range-slider-input */
.range-slider{
  background: #18171F !important;
}

.range-slider__range {
  background: #A4FFAF !important;
}

.single-thumb .range-slider__thumb[data-lower] {
  width: 0;
}

.range-slider .range-slider__thumb[data-active] {
  border: 2px solid #A4FFAF !important;
  background: #08070B !important;
}
